@import './index.css';

.Main {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    margin: 0;
    width: 100%;
    padding: 6em;
    padding-bottom: 4em;
    background: #E1E3E9;
    color: #20232D;
}

.Paragraph-Name {
    font-family: 'Helvetica Neue Condensed Bold', Helvetica;
    font-size: 6em;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    margin: 0;
    margin-left: -0.05em;
    color: #20232D;
}

.Paragraph-Description {
    font-family: 'Helvetica Neue Light', Helvetica;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.02em;
    margin: 0;
    margin-right: auto;
    margin-bottom: -3px;
    padding: 0.625em;
    padding-left: 0.875em;
    padding-right: 0.875em;
    background: #20232D;
    color: #E1E3E9;
}

.Paragraph {
    font-family: 'Helvetica Neue Regular', Helvetica;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.01em;
    max-width: 36em;
    margin: 0;
    margin-top: -5px;
    margin-bottom: -5px;
    color: #20232D;
}

@media only screen and (max-width: 760px) {
    .Main {
        padding: 3em;
    }

    .Paragraph-Description {
        font-size: 0.875em;
        line-height: 1.3125em;
        letter-spacing: 0.03125em;
    }

    .Paragraph-Info {
        font-size: 0.875em;
        line-height: 1.3125em;
        letter-spacing: 0.03125em;
    }

    .Paragraph-Links {
        font-size: 0.875em;
        line-height: 1.3125em;
        letter-spacing: 0.03125em;
    }
}
