@font-face {
    font-family: 'Helvetica Neue Condensed Bold';
    src: url(./typeface/HelveticaNeue-CondensedBold.ttf)
         format('ttf');
 }

 @font-face {
     font-family: 'Helvetica Neue Regular';
     src: local('HelveticaNeue')
          url(./typeface/HelveticaNeue-Regular.ttf)
          format('ttf');
 }

 @font-face {
     font-family: 'Helvetica Neue Light';
     src: local('HelveticaNeue')
          url(./typeface/HelveticaNeue-Light.ttf)
          format('ttf');
 }

 @font-face {
     font-family: 'Helvetica Neue Medium';
     src: local('HelveticaNeue')
          url(./typeface/HelveticaNeue-Medium.ttf)
          format('ttf');
 }

 * {
     transition: 0.32s;
 }

body {
  background: #DB9E24;
  margin: 0;
  padding: 0;
}

#root {
    display: flex;
}
