
@import './index.css';

.Div-SocialMedia-Links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1em;
    -webkit-column-gap: 1em;
       -moz-column-gap: 1em;
            column-gap: 1em;
}

.Div-SocialMedia-LinkItem {
    display: inline;
    line-height: 0;
    -webkit-transition: 0.64s;
    -o-transition: 0.64s;
    transition: 0.64s;
}

.Div-SocialMedia-LinkItem:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 0.32s;
    -o-transition: 0.32s;
    transition: 0.32s;
}

.Image-SocialMedia-LinkItem {

}
